body {
    background: #F7F7F7;
    /* border-radius: 12px;
    display: flex;
    min-height: 100vh;
    flex-direction: column; */
}

.img-thumbnail {
    background: #7DA2A9;
    /* #e2e1ea; */
    /* border: 1px solid #eaeaea; */
}

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

div, section {
    border: 1px solid #7DA2A9;
}

.sidebar-section {
    min-height: 200vh;
    height: 100vh;
    background: #d1dee0;
}

.content-section {
    background: #e0e9eb;
}

section {
    height: 500px;
}

.affix {
    top: 20px;
    z-index: 9999 !important;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #7DA2A9;
}

/* #5C6E58
#8AA899
#F2D349 */