body {
    background: #EEEEEE;
    /* background: #F7F7F7; */
    /* border-radius: 12px;
    display: flex;
    min-height: 100vh;
    flex-direction: column; */
}

.img-thumbnail {
    background: #EFF0F1;
    border: 1px solid #EAEAEA;
    /* background: #7da2a9; */
    /* #e2e1ea; */
    /* border: 1px solid #56bebe; */
}

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
}

.sidebar-section {
    min-height: 200vh;
    height: 100vh;
    background: #FCFCFC;
    /* background: #d1dee0; */
}

.content-section {
    background: #FFFFFF;
    /* background: #e0e9eb; */
}

div {
    /* border: 1px solid #EAEAEA; */
}

section {
    padding: 25px;
    height: 500px;
    border: 1px solid #EAEAEA;
}

.affix {
    z-index: 9999 !important;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #7da2a9;
}

.contact {
    padding-top: 0.6em;
    padding-bottom: 0.4em;
    position: relative;
    margin-top: 3em;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    text-align: center;
}

.contact a {
    color: #342D33;
    font-size: 1.728em;
    margin-right: .5em;
    margin-left: .5em;
}

.contact a i {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s
}

.contact a:hover i {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

/* #5C6E58
#8AA899
#F2D349 */